*{
    padding:0;
    margin:0;
}
#container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.list{
    width:300px;
    position:relative;
}
.list>ul{
    width:300px;
    list-style:none;
    text-align:center;
    perspective:500px;
}
.list>ul>li{
    font-size:20px;
    line-height:40px;
    background-color: #ffd040;
    margin:5px 0px;
    color:#fff;
}
li.show_4{
    opacity:0;
    height:40px;
    transform:rotateY(-90deg);
}
li.fade_4{
    transition: 0.4s cubic-bezier(.36,-0.64,.34,1.76);
    opacity:1;
    transform:rotateY(0deg);
}
li.show_3{
    opacity:0;
    height:40px;
    transform:rotateX(-120deg);
}
li.fade_3{
    transition: 0.4s cubic-bezier(.36,-0.64,.34,1.76);
    opacity:1;
    transform:rotateX(0deg);

}
li.show_2{
    opacity:0;
    height:0;

}
li.fade_2{
    opacity:1;
    height:40px;
    transition: 0.4s linear;

}
#add_1{
    position:relative;
    left:40%;
}
#add_2{
    position:relative;
    left:40%;
}
#add_3{
    position:relative;
    left:40%;
}
#add_4{
    position:relative;
    left:40%;
}